/* body div .navbar {
  background-color: tan;
  color: black;
}

/* On screens that are 992px wide or less, the background color is blue */
/* @media screen and (max-width: 992px) {
  body div .navbar  {
    background-color: tan;
  color: black;
  }
} */

/* On screens that are 600px wide or less, the background color is olive */
/* @media screen and (max-width: 1000px) {
  body div .navbar  {
    background-color: tan;
  color: black;
  }
} */
.a {
  background-color: blue !important;
}
